@font-face {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/lato/Lato-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/lato/Lato-Regular.woff2");
  font-display: swap;
}


