/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  background-color: $basic-white;
}









