$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey-font: #444444;
$basic-grey-bg: #f2f2f2;
$basic-green-bg: #68b738;

// ! Font
$primary-font: "Oswald", "arial", sans-serif;
$secondary-font: "Lato", "arial", sans-serif;

// ! Width viewport
$tablet-widht: 768px;
$desktop-width: 1440px;
