.additional-products{
  max-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
}

.additional-products__container{
  display: flex;
  align-items:flex-start;
  margin-left: 20px;
}

.additional-products__container::before{
  content: "";
  flex-grow: 1;
  order: 2;
  border-bottom: 2px solid #68B738;
  margin-left: 40px;
  margin-top: 10px;
}

.additional-products__title{
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list{
  width: 280px;
  margin: 0 20px;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #CDCDCD;
}

.additional-products__item{
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #CDCDCD;
}

.additional-products__subtitle{
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.additional-products__content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: $secondary-font;
  color: #444444;
}

.additional-products__button{
  max-width: 280px;
  width: 280px;
}

.additional-products__image{
  position: relative;
  margin: 0 20px;
  width: 280px;
  height: 290px;
  background: url('/images/green-patern-mobile.png') top center no-repeat,
url('/images/cat-bg-mobile.png') top center no-repeat;
}

.additional-products__image-description{
  max-width: 161px;
  margin: 0 auto;
  padding-top: 187px;
  color: $basic-white;
}

.additional-products__image::before{
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  left: 101px;
  top: 59px;
  background-image:  url('/icons/gift.svg');
}










