.additional-products{
  max-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
  @media (min-width: $tablet-widht){
    max-width: 768px;
    width: 768px;
    padding-top: 14px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 1440px;
  }
}

.additional-products__container{
  display: flex;
  align-items:flex-start;
  margin-left: 20px;
  margin-bottom: 35px;
  &::before,
  &::after{
    content: "";
    border-bottom: 2px solid #68B738;
  }
  @media (min-width: $tablet-widht){
    max-width: 768px;
    width: 768px;
    align-items: center;
    margin-left: 0;
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 1440px;
    align-items:center
  }
}

.additional-products__container::before{
  flex-grow: 12;
  order: 1;
  margin-left: 40px;
  margin-top: 10px;
  @media (min-width: $tablet-widht){
    margin-top: -2px;
  }
  @media (min-width: $desktop-width) {
    flex-grow: 14;
    margin-top: 0;
  }
}

.additional-products__container::after{
  @media (min-width: $tablet-widht){
    flex-grow: 1;
    order: -1;
    margin-left: 0;
    margin-right: 40px;
    margin-top: -2px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.additional-products__title{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  @media (min-width: $tablet-widht){
    margin: 0;
    font-size: 32px;
    line-height: 32px;
  }
  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional-products__list{
  width: 280px;
  margin: 0 20px;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #CDCDCD;
  @media (min-width: $tablet-widht){
    max-width: 708px;
    width: 708px;
    padding: 0;
    margin: 0 30px;
    margin-bottom: 70px;
    border: none;
  }
  @media (min-width: $desktop-width) {
    max-width: 896px;
    width: 896px;
    margin: 0 80px 0 110px;
    border-top: 1px solid #CDCDCD;
  }
}

.additional-products__item{
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #CDCDCD;

  @media (min-width: $tablet-widht){
    display: flex;
    flex-wrap: wrap;
    max-width: 708px;
    width: 708px;
    padding: 26px 37px 28px 38px;
    border: 1px solid #CDCDCD;
    border-bottom: none;
    &:last-of-type{
      border-bottom: 1px solid #CDCDCD;
    }
  }
  @media (min-width: $desktop-width) {
    max-width: 896px;
    width: 896px;
    align-items: center;
    padding: 15px 1px 17px 1px;
    border: none;
    border-bottom: 1px solid #CDCDCD;
  }
}

.additional-products__subtitle{
  margin: 0;
  margin-bottom: 11px;
  margin-left: 0.5px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  @media (min-width: $tablet-widht){
    max-width: 200px;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
    max-width: 275px;
    width: 275px;
    margin: 0;
    margin-right: 50px;
  }
}

.additional-products__content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  margin-left: 1px;
  font-family: $secondary-font;
  font-size: 14px;
  color: #444444;
  @media (min-width: $tablet-widht){
    max-width: 225px;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 16px;
  }
  @media (min-width: $desktop-width) {
    max-width: none;
    margin: auto 0;
  }
}

.additional-products__measure{
  @media (min-width: $tablet-widht){
    margin-right: 2px;
  }
  @media (min-width: $desktop-width) {
    max-width: 200px;
    width: 200px;
    margin-right: 43px;
  }
}

.additional-products__measure--water{
  @media (min-width: $tablet-widht){
    margin-right: 10px;
  }
}

.additional-products__value{
  margin-top: 2px;
  line-height: 14px;
  @media (min-width: $tablet-widht){
    margin-left: 49px;
    margin-top: -2px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
    max-width: 42px;
    width: 42px;
    margin: 0;
    margin-right: 30px;
  }
}

.additional-products__button{
  max-width: 280px;
  width: 280px;
  @media (min-width: $tablet-widht){
    max-width: 633px;
    width: 633px;
    margin-left: -1px;

  }
  @media (min-width: $desktop-width) {
    max-width: 244px;
    width: 244px;
    margin-left: auto;
  }
}


// ! Additional-products__image
.additional-products__image{
  position: relative;
  width: 280px;
  height: 290px;
  margin: 0 20px;
  background: url('/images/green-patern-mobile.png') top center no-repeat,
url("/images/cat-case-mobile@1x.png") top center/ 280px no-repeat;
  @media (min-width: $tablet-widht){
    width: 707px;
    height: 200px;
    margin: 0 30px;
    background: url('/images/green-patern-mobile.png') top center/ 707px  200px no-repeat,
    url("/images/cat-case-tablet@1x.png") top center/ 707px  200px no-repeat;
  }
  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    margin: 0;
    background: url('/images/green-patern-mobile.png') top center/ 245px  288px no-repeat,
    url("/images/cat-case-desktop@1x.png") top center/ 245px  288px no-repeat;
  }
}

.additional-products__image-description{
  max-width: 161px;
  width: 161px;
  margin: 0 auto;
  margin-left: 58px;
  padding-top: 187px;
  font-family: $secondary-font;
  text-align: center;
  color: $basic-white;
  @media (min-width: $tablet-widht){
    margin: 0;
    padding: 0;
    padding-top: 71px;
    margin-left: 421px;
    text-align: start;
  }
  @media (min-width: $desktop-width) {
    max-width: 161px;
    width: 161px;
    margin: 0 auto;
    margin-top: 185px;
    padding: 0;
    text-align: center;
  }
}

.additional-products__image::before{
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  left: 101px;
  top: 58px;
  background-image:  url('/icons/gift.svg');
  @media (min-width: $tablet-widht){
    top: 57px;
    left: 79px;
  }
  @media (min-width: $desktop-width) {
    top: 59px;
  }
}










