.address {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-widht) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1440px;
  }
}

.address__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  padding: 28px 20px 25px;
  color: #111111;
  font-style: normal;

  @media (min-width: $tablet-widht) {
    max-width: 768px;
    padding: 59px 70px 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    max-width: 566px;
    max-height: 305px;
    width: 566px;
    padding: 60px 80px;
    background-color: $basic-white;
  }
}

.address__title {
  max-width: 140px;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-widht) {
    max-width: 164px;
    margin-top: 1.5px;
    font-size: 20px;
    line-height: 26px;
    word-spacing: -0.5px;
  }

  @media (min-width: $desktop-width) {
    max-height: 185px;
    overflow: hidden;
  }
}

.address__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  font-family: $secondary-font;
  font-size: 14px;
  color: $basic-grey-font;

  @media (min-width: $tablet-widht) {
    max-width: 157px;
    margin-left: auto;
    justify-content: space-between;
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    overflow: hidden;
    max-height: 185px;
    margin-left: 85px;
    text-align: start;
  }
}

.address iframe {
  display: block;
  border: none;

  @media (min-width: $tablet-widht) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.address--catalog,
.address--form {
  @media (max-width: 1439px) {
    background-color: #f2f2f2;
  }
}
