.address {
  @media (min-width: $desktop-width) {
    position: relative;
    min-width: 1440px;
    max-width: 1440px;
    height: 0;
    max-height: 305px;
    margin: 0 auto;
  }
}

.address--catalog,
.address--form {
  @media (max-width: 1439px) {
    background-color: #f2f2f2;
  }
}

.address--catalog .address__content {
  @media (max-width: 1439px) {
    background-color: #f2f2f2;
  }
}

.address__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
  padding: 28px 20px 25px;
  color: #111111;
  font-style: normal;
  background-color: $basic-white;

  @media (min-width: $tablet-widht) {
    min-width: 768px;
    max-width: 768px;
    padding: 59px 70px 60px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 96px;
    left: 110px;
    min-width: 565px;
    max-width: 1000px;
    max-height: 305px;
    width: fit-content;
    padding: 55px 80px;
    padding-right: 0;
    justify-content: flex-start;
    background-color: $basic-white;
    z-index: 2;
  }
}

.address__title {
  max-width: 140px;
  width: 125px;
  margin: 0;
  margin-right: 13px;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-widht) {
    max-width: 164px;
    width: 163px;
    margin-top: 1.5px;
    font-size: 20px;
    line-height: 26px;
    word-spacing: -0.5px;
  }

  @media (min-width: $desktop-width) {
    max-height: 185px;
    margin-top: 6.5px;
    margin-right: 87px;
    margin-bottom: 5px;
    overflow: hidden;
  }
}

.address__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 138px;
  margin-left: 2px;
  font-family: $secondary-font;
  font-size: 14px;
  color: $basic-grey-font;

  @media (min-width: $tablet-widht) {
    max-width: 157px;

    justify-content: space-between;
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    overflow: hidden;
    max-height: 185px;
    margin-right: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
  }
}
