.catalog {
  max-width: 320px;
  margin: 0 auto;
  background-color: $basic-white;

  @media (min-width: $tablet-widht) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    max-width: 1440px;
    padding-bottom: 57px;
  }
}

.catalog__title {
  max-width: 320px;
  width: 320px;
  margin: 0;
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 41px;
  font-size: 36px;
  line-height: 36px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-widht) {
    max-width: 708px;
    width: 708px;
    padding-top: 0;
    padding-left: 30.5px;
    padding-bottom: 83px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -36px;
    padding-left: 110px;
    padding-bottom: 20px;
  }
}

.catalog__big-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-widht) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.catalog__big-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 21px 20px 25px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-widht) {
    width: 324px;
    margin: 0 30px;
    margin-bottom: 60px;
    padding: 10px 37px 40px;
    flex-direction: column;
    align-items: center;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 100%;
      height: calc(100% - 81px);
      background-color: #f2f2f2;
      z-index: 1;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    width: 245px;
    margin: 0;
    margin-right: 80px;
    margin-top: 63px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.catalog__big-item-link {
  max-height: 107px;

  @media (min-width: $tablet-widht) {
    display: block;
    max-height: 210px;
    margin-bottom: 22px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.catalog__content {
  max-width: 140px;
  margin-bottom: 20px;


  @media (min-width: $tablet-widht) {
    max-width: 250px;
    width: 250px;
    margin-bottom: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    width: 169px;
  }
}

.catalog__content-link {
  display: inline-block;
  margin-top: -3px;
  padding-top: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.catalog__content-title {
  max-width: 76px;
  width: 76px;
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;

  @media (min-width: $tablet-widht) {
    max-width: 135px;
    width: 135px;
    margin-left: 56px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 140px;
    width: 140px;
    padding: 0;
    margin-top: 1px;
    margin-left: 13px;
    margin-bottom: 18px;
  }
}

.catalog__content-title-weight {
  @media (min-width: $tablet-widht) {
    margin-left: 4px;
  }
}

.catalog__small-list {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;
  color: #444444;

  @media (min-width: $tablet-widht) {
    max-width: 250px;
    width: 250px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    width: 169px;
  }
}

.catalog__small-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-widht) {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 1px;

    &:last-of-type {
      margin-top: -2px;
      padding-bottom: 10px;
    }
  }
}

.catalog__small-item-price {
  @media (min-width: $desktop-width) {
    margin-right: 1px;
    word-spacing: 0.9px;
  }
}

.catalog__big-item-button {
  max-width: 280px;
  width: 280px;

  @media (min-width: $tablet-widht) {
    max-width: 250px;
    width: 250px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    width: 169px;
  }
}

// ! Show-all

.catalog__show-all-item {
  position: relative;
  flex-wrap: wrap;
  padding: 78px 20px 23px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 145px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  @media (min-width: $tablet-widht) {
    max-width: 324px;
    width: 324px;
    height: 429px;
    padding: 160px 0 35px;
    margin-top: 82px;
    margin-left: 30px;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    border-bottom: none;

    &::before {
      top: 78px;
      left: 132px;
      width: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    width: 245px;
    height: 430px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 144px;
    padding-top: 150px;
    padding-bottom: 40px;

    &::before {
      top: 78px;
      left: 92px;
    }
  }
}

.catalog__show-all-item::after {
  top: 24px;
  width: 2px;
  height: 30px;
  left: 159px;

  @media (min-width: $tablet-widht) {
    top: 50px;
    left: 160px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 120px;
  }
}

.catalog__show-all-link {
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;

  @media (min-width: $tablet-widht) {
    display: flex;
    width: 324px;
    padding: 0 20px;
    padding-bottom: 4px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.catalog__show-all-title {
  max-width: 280px;
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 400;

  @media (min-width: $tablet-widht) {
    max-width: 170px;
    margin: 0;
    margin-top: -1px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
  }
}

.catalog__show-all-descrition {
  margin: 0;
  margin-bottom: 21px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-widht) {
    max-width: 170px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 83px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 92px;
  }
}

.catalog__show-all-button {
  max-width: 280px;
  width: 280px;
  color: #444444;
  background-color: #f2f2f2;

  &:hover,
  &:focus,
  &:active {
    background-color: #ebebeb;
    color: rgba($color: #444444, $alpha: 1);
  }

  @media (min-width: $tablet-widht) {
    position: relative;
    max-width: 250px;
    min-height: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    width: 169px;
  }
}

.catalog__show-all-button::before {
  @media (min-width: $tablet-widht) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -37px;
    margin-bottom: -37px;
    width: 320px;
    height: 427px;
    border: 2px solid #f2f2f2;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    height: 430px;
    width: 245px;
    margin-bottom: -39px;
    margin-left: -38px;
  }
}
