.contacts {
  max-width: 320px;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 24px;
  border: none;

  @media (min-width: $tablet-widht) {
    max-width: 768px;
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 1440px;
  }
}

.contacts__container {
  width: 300px;
  display: flex;
  padding: 0;
  align-items: center;

  &::before,
  &::after {
    content: "";
    border-bottom: 2px solid #68b738;
  }

  @media (min-width: $tablet-widht) {
    max-width: 768px;
    width: 768px;
    align-items: center;
    margin-left: 0;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 1440px;
  }
}

.contacts__container::before {
  flex-grow: 5;
  order: 1;
  margin-left: 20px;
  margin-top: -22px;

  @media (min-width: $tablet-widht) {
    margin-top: 10px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 11;
    margin-left: 38px;
  }
}

.contacts__container::after {
  @media (min-width: $tablet-widht) {
    flex-grow: 1;
    order: -1;
    margin-left: 0;
    margin-right: 40px;
    margin-top: 10px;
  }
}

.contacts__title {
  max-width: 187px;
  margin: 26px 0 29px;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-widht) {
    max-width: 514px;
    width: 514px;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    word-spacing: -0.6px;
  }
}

.contacts__list {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-widht) {
    max-width: 514px;
    width: 514px;
    margin: 0 70px 65px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 1440px;
    margin-bottom: 70px;
    margin-left: 110px;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-widht) {
    max-width: 628px;
    width: 628px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 572px;
    margin-bottom: 0;
  }
}

.contacts__item--email {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 78px;
  }
}

.contacts__item--email::before {
  content: "";
  position: absolute;
  right: 14px;
  top: 16px;
  width: 17px;
  height: 14px;
  background-image: url("/icons/letter.svg");

  @media (min-width: $tablet-widht) {
    top: 18.5px;
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.contacts__item--tel {
  position: relative;
}

.contacts__item--tel::before {
  content: "";
  position: absolute;
  right: 13px;
  top: 16px;
  width: 19px;
  height: 14px;
  background-image: url("/icons/phone.svg");

  @media (min-width: $tablet-widht) {
    top: 19px;
    right: 14px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}

.contacts__label {
  margin: auto 0;

  @media (min-width: $tablet-widht) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.contacts__input {
  @media (max-width: 767px) {
    &:focus,
    &:active {
      padding: 13px 13px 12px 14px;
    }
  }

  @media (min-width: $tablet-widht) {
    max-height: 52px;
    height: 52px;
    margin-left: 13.5px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;

    &:focus,
    &:active {
      padding-left: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 250px;
  }
}
