.control {
  position: relative;
  display: block;
  max-width: 280px;
  padding-left: 45px;
  line-height: 24px;
  cursor: pointer;
  @media (min-width: $tablet-widht) {
    max-width: 400px;
    padding-left: 59px;
  }
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $basic-white;
  border-radius: none;
  border: 1px solid #cdcdcd;
  @media (min-width: $tablet-widht) {
    width: 40px;
    height: 40px;
  }
}

.control-label {
  padding: 6px 0;
  @media (min-width: $tablet-widht) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 5px;
  width: 18px;
  height: 14px;
  background-image: url("/icons/arrow-checkbox.svg");
  @media (min-width: $tablet-widht) {
    top: 11px;
    left: 8px;
    width: 24px;
    height: 19px;
  }
  @media (min-width: $desktop-width) {
    left: 6px;
  }
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
  box-sizing: border-box;
  @media (min-width: $tablet-widht) {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}
