.control{
  position: relative;
  display: block;
  max-width: 280px;
  padding-left: 45px;
  line-height: 24px;
  cursor: pointer;
  }

.control-mark{
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $basic-white;
  border-radius: 4px;
  border: 1px solid #CDCDCD;
}

.control-label{
  padding: 6px 0;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after{
  position: absolute;
  top: 10px;
  left: 6px;
  width: 11.5px;
  height: 1.6px;
  background-color: #3F5E72;
  content: "";
  display: block;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  transform: rotate(47deg);
  width: 7px;
  left: 2.4px;
  top: 11px
}

.control-input[type="checkbox"]:checked + .control-mark::after{
  transform: rotate(-48deg);
}

.control-input[type="radio"] + .control-mark{
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68B738;
  border-radius: 50%;
  content: "";
  box-sizing: border-box;
}


