// ! example!!!
.example{
  max-width: 320px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-grey-font;
  background-color: #EAEAEA;
  @media (min-width: $tablet-widht) {
    max-width: 768px;
    padding: 0 30px;
    background-color: $basic-white;
  }
}

// ! example-introduce
.example__introduce{
  padding-bottom: 20px;
  @media (min-width: $tablet-widht) {
    padding-bottom: 55px;
  }
}

.example__introduce-title{
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  @media (min-width: $tablet-widht) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__introduce-description{
  margin: 0;
  font-family: $secondary-font;
  @media (min-width: $tablet-widht) {
    font-size: 16px;
    line-height: 24px;
  }

}

// ! example__statistics
.example__statistics{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  @media (min-width: $tablet-widht) {
    padding-bottom: 100px;
    flex-direction: row;
    align-items: center;
  }
}

.example__statistics-list{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.example__statistics-item{
  display: flex;
  flex-direction: column;
  min-width: 124px;
  text-align: center;
}

.example__statistics-content{
  width: 124px;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  color: $basic-black;
  @media (min-width: $tablet-widht) {
    width: 162px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__statistics-caption{
  max-width: 100px;
  margin: 0 auto;
  margin-top: -30px;
  padding: 0 14px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #EAEAEA;
  @media (min-width: $tablet-widht) {
    max-width: 150px;
    padding: 0 10px;
    margin-top: -40px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

}

.example__statistics-footer{
  display: flex;
  margin: 0 auto;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  @media (min-width: $tablet-widht) {
    flex-direction: column;
    margin-right: 0;
    font-size: 20px;
    text-align: right;
  }
}

.example__demo{
  position: relative;
  display: flex;
  max-width: 280px;
}

.cat-fat{
  width: 140px;
  object-fit: cover;
  object-position: left;
}

.cat-small{
  width: 140px;
  object-fit: cover;
  object-position: right;
}

.tumbler{
  position: absolute;
  display: inline-block;
  top: 108px;
  left: 120px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: $basic-white;
}

.tumbler::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 18px;
  left: 6px;
  top: 9px;
  mask-image: url("/icons/double-arrows.svg");
  background-color: #666666;
}

.example__demo::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 256px;
  background-color: #666666;
  top: 0;
  left: 138px;
}






