// ! example-introduce
.example-introduce{
  padding-bottom: 20px;
}

.example-introduce__title{
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.example-introduce__description{
  font-family: $secondary-font;
}
