// ! example!!!
.example {
  max-width: 320px;
  margin: 0 auto;
  padding: 25px 20px 37px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-grey-font;
  background-color: #eaeaea;

  @media (min-width: $tablet-widht) {
    max-width: 768px;
    width: 768px;
    padding: 0 30px 3px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 1440px;
    padding-top: 135px;
    padding-left: 110px;
    padding-bottom: 85px;
    background-color: #f2f2f2;
  }
}

// ! example-introduce
.example__introduce {
  padding-bottom: 20px;

  @media (min-width: $tablet-widht) {
    margin-left: 1px;
    margin-top: -8px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.example__introduce-title {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-widht) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -272px;
    margin-bottom: 146px;
  }
}

.example__introduce-description {
  margin: 0;
  font-family: $secondary-font;

  @media (min-width: $tablet-widht) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
  }
}

// ! example__statistics
.example__statistics {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @media (min-width: $tablet-widht) {
    padding-bottom: 229px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__statistics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-widht) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__statistics-item {
  display: flex;
  flex-direction: column;
  min-width: 124px;
  text-align: center;
}

.example__statistics-content {
  width: 124px;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  color: $basic-black;

  @media (min-width: $tablet-widht) {
    width: 162px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.example__statistics-caption {
  max-width: 90px;
  margin: 0 auto;
  margin-top: -33px;
  padding: 0 10px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-widht) {
    max-width: 150px;
    padding: 0 10px;
    margin-top: -40px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__statistics-footer {
  display: flex;
  max-width: 188px;
  width: 188px;
  justify-content: space-between;
  margin: 0 auto;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-widht) {
    flex-direction: column;
    justify-content: space-between;
    min-height: 48px;
    margin-right: 0;
    margin-top: -22.5px;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 340px;
    width: 340px;
    margin: 0;
    margin-left: -1px;
  }
}

.example__statistics-footer-title {
  margin-left: 1px;

  @media (min-width: $tablet-widht) {
    letter-spacing: 0.1px;
  }

  @media (min-width: $desktop-width) {
    max-width: 174px;
    width: 174px;
    margin-right: 64px;
  }
}

// ! example__demo
.example__demo {
  position: relative;
  z-index: 0;
  display: flex;
  max-width: 280px;

  @media (min-width: $tablet-widht) {
    justify-content: center;
    max-width: 768px;
    width: 768px;
    height: 464px;
    margin-left: -30px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    height: 512px;
    margin-top: -780px;
    margin-left: 556px;
    background: none;
  }
}

.example__cat-fat {
  position: relative;
  z-index: -2;
  width: 140px;
  object-fit: cover;
  object-position: left;

  @media (min-width: $tablet-widht) {
    width: 280px;
    margin-top: -149px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
  }
}

.example__cat-small {
  position: relative;
  z-index: -2;
  width: 140px;
  object-fit: cover;
  object-position: right;

  @media (min-width: $tablet-widht) {
    width: 280px;
    margin-top: -149px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
  }
}

.example__tumbler {
  position: absolute;
  display: inline-block;
  top: 108px;
  left: 120px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: $basic-white;

  &:hover,
  &:focus {
    border: 2px solid #68b738;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: #68b738;
  }

  &:active {
    border: 2px solid rgba($color: #5eaa2f, $alpha: 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($color: #5eaa2f, $alpha: 0.6);
  }

  @media (min-width: $tablet-widht) {
    top: 236px;
    left: 334px;
    margin-top: -150px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    left: 334px;
  }
}

.example__tumbler::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 18px;
  left: 6px;
  top: 9px;
  mask-image: url("/icons/double-arrows.svg");
  background-color: #666666;
}

.example__tumbler::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 4px;
  height: 256px;
  background-color: #666666;
  top: 0;
  left: 16px;
  margin-top: -110px;

  @media (min-width: $tablet-widht) {
    height: 512px;
    margin-top: -236px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -237px;
  }
}
