.form{
  max-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 32px;
  line-height: 18px;
  @media (min-width: $tablet-widht) {
    max-width: 768px;
    width: 768px;
    padding-bottom: 38px;
    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 1440px;
    padding-bottom: 79px;
  }
}

.form__title{
  margin: 28px 20px 37px;
  font-size: 36px;
  line-height: 36px;
  @media (min-width: $tablet-widht) {
    margin: 0 70px 54px;
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 1400px;
    margin: 0 110px 55px;
  }
}

.form__description{
  max-width: 224px;
  width: 224px;
  margin: 0 20px 39px;
  font-size: 14px;
  text-transform: uppercase;
  @media (min-width: $tablet-widht) {
    max-width: 320px;
    width: 320px;
    margin: 0 70px 66px;
    font-size: 20px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 800px 66px 110px;
  }
}

.form__button{
  max-width: 280px;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 18px;
  @media (min-width: $tablet-widht) {
    max-width: 284px;
    width: 284px;
    padding: 14px;
    margin-right: 53px;
    margin-left: 70px;
    font-size: 20px;
    line-height: 26px;
  }
  @media (min-width: $desktop-width) {
    max-width: 570px;
    width: 570px;
    margin-left: 110px;
    margin-right: 80px;
  }
}

.form__important{
  display: inline-block;
  max-width: 320px;
  width: 320px;
  margin: 0;
  margin-left: 1px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  word-spacing: 1.3px;
  @media (min-width: $tablet-widht) {
    max-width: 180px;
    width: 180px;
    margin: 0;
    height: 54px;
    margin-top: -10px;
    font-size: 16px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.form__body .header__list{
  @media (min-width: $tablet-widht) {
    margin-right: 30px;
  }
}

.form__body .header__link--current::before{
  @media (min-width: $tablet-widht) {
    left: 1px;
    bottom: 5px;
  }
}



