.form{
  max-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 32px;
  line-height: 18px;
  @media (min-width: $tablet-widht) {
    max-width: 768px;
    width: 768px;
    padding-bottom: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__title{
  margin: 27px 20px 37px;
  font-size: 36px;
  line-height: 36px;
  @media (min-width: $tablet-widht) {
    margin: 0 70px 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.form__description{
  max-width: 224px;
  width: 224px;
  margin: 0 20px 39px;
  font-size: 14px;
  text-transform: uppercase;
  @media (min-width: $tablet-widht) {
    max-width: 320px;
    width: 320px;
    margin: 0 70px 66px;
    font-size: 20px;
  }
}

.form__button{
  max-width: 280px;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 21px;
  @media (min-width: $tablet-widht) {
    max-width: 284px;
    width: 284px;
    padding: 14px;
    margin-right: 60px;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__important{
  display: inline-block;
  max-width: 280px;
  width: 280px;
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  @media (min-width: $tablet-widht) {
    max-width: 174px;
    width: 174px;
    font-size: 16px;
  }
}




