.goal {
  padding: 22px 20px 18px 19px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-widht) {
    max-width: 628px;
    margin: 0 auto;
    margin-bottom: 65px;
    padding: 22px 27px 24px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    width: 570px;
    margin: 0 110px 70px 0;
    padding: 25px 28px 21px;
  }
}

.goal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goal-item {
  margin-bottom: 13px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-widht) {
    margin-bottom: 11px;
  }
}
