.hero{
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px ;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-widht){
    max-width: 768px;
    color: $basic-black;
    text-align: start;
  }
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 1440px;
    padding-bottom: 135px;
    padding-left: 100px;
  }
}

.hero::before{
  content: "";
  position: absolute;
  width: 320px;
  height: 302px;
  left: 0;
  top: 1px;
  background: url('/images/green-patern-mobile.png') top center no-repeat,
  url('/images/cat-bg-mobile.png') top center no-repeat;
  z-index: -1;
  @media (min-width: $tablet-widht){
    display: none;
  }
  @media (min-width: $desktop-width){
    display:block;
    left: auto;
    right: 0;
    top: 0;
    width: 720px;
    height: 694px;
    margin-top: -225px;;
    background-size: 1040px 694px;
    background: url('/images/green-patern-mobile.png') top center/720px 694px no-repeat,
    url('/images/cat-bg-desktop.png') top left no-repeat;
  }
}

.hero__title{
  margin: 28px 0;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  @media (min-width: $tablet-widht){
    max-width: 416px;
    margin: 0 0 40px 91px;
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__description{
  margin: 0;
  margin-left: -2px;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  @media (min-width: $tablet-widht){
    margin-bottom: 50px;
    margin-left: 91px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__image{
  margin: 0;
  margin-left: -10px;
  text-align: center;
  @media (min-width: $tablet-widht){
    margin-top: -83px;
    margin-left: 0;
  }
  @media (min-width: $desktop-width) {
    margin-top: -367px;
    margin-left: 456px;
  }
}

.hero__button{
  max-width: 320px;
  width: 280px;
  margin: 0 auto;
  margin-top: -1.5px;
  margin-left: -10px;
  padding: 11px 20px 9px;
  order: 1;
  @media (min-width: $tablet-widht){
    z-index: 1;
    width: auto;
    margin-left: 91px;
    padding: 14px 26px;
    order: 0;
    font-size: 20px;
    line-height: 26px;
  }
  @media (min-width: $desktop-width) {
    width: 244px;
    margin-left: 90px;
    padding-left: 27px;
    word-spacing: 0.9px;
  }
}




