//  Instructions
.instructions{
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px 50px 20px;
  font-size: 14px;
  line-height: 18px;
}

.instructions__title{
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.instructions__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instructions__item{
position: relative;
min-height: 60px;
margin-bottom: 20px;
}

.instructions__item:last-of-type{
  margin-bottom: 0;
}

.instructions__item::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: $basic-green-bg;
}

.instructions__description{
  margin: 0;
  margin-left: 80px;
  font-family: $secondary-font;
  color: $basic-grey-font;
}
