
.map {
  position: relative;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-widht) {
    height: 400px;
  }
}

.map__image {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.map iframe{
  position: absolute;
  display: block;
  border: none;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-widht) {
    height: 400px;
  }
}
