.navigation{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  @media (min-width: $tablet-widht) {
    min-width: $tablet-widht;
    flex-direction: row;

    .navigation__wrapper{
      padding: 25px 33px 65px 30px;
    }

    .navigation__logo{
      margin-left: 13px;
    }

    .navigation__menu-button{
      display: none;
    }

    .navigation__list{
      flex-direction: row;
      margin: 25px 33px 65px auto;
    }

    .navigation__item{
      margin: 0;
      margin-right: 33px;
      width: auto;
    }

    .navigation__item:last-of-type{
      margin-right: 0;
    }

    .navigation__item::before{
      display: none;
    }

    .navigation__link{
      position: relative;
      font-size: 18px;
      line-height: 24px;
    }

    .navigation__item--current::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 34px;
      left: 0;
      background: #68B738;
    }

  }
}

.navigation__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
}

.navigation__logo{
  margin: auto 0;
}

.navigation__menu-button{
  margin: auto 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: $basic-white;
  background-image: url("/icons/burger.svg") ;
}

.navigation__menu-button--close{
  background-image: url("/icons/cross.svg");
}

.navigation__list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.navigation__item{
  position: relative;
  align-self: center;
  margin-top: 22px;
  margin-bottom: 24px;
  width: 100%;
}

.navigation__item::before{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 42px;
  left: 0;
  border-top: 1px solid #E6E6E6;
}

.navigation__item--current{
  position: relative;
}

.navigation__link{
  color: $basic-black;
  text-decoration: none;
  margin: 0 auto;
}

/*.navigation__item--current::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #68B738;
  z-index: 1;
}
*/

