.navigation{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.navigation__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
}

.navigation__logo{
  margin: auto 0;
}

.navigation__menu-button{
  margin: auto 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: $basic-white;
  background-image: url("/icons/burger.svg") ;
}

.navigation__menu-button--close{
  background-image: url("/icons/cross.svg");
}

.navigation__list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.navigation__item{
  position: relative;
  align-self: center;
  margin-top: 22px;
  margin-bottom: 24px;
  width: 100%;
}

.navigation__item::before{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 42px;
  left: 0;
  border-top: 1px solid #E6E6E6;
}

.navigation__item--current{
  position: relative;
}

.navigation__link{
  color: $basic-black;
  text-decoration: none;
  margin: 0 auto;
}

/*.navigation__item--current::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #68B738;
  z-index: 1;
}
*/

