.personalise {
  margin: 0;
  padding: 0 23px 23px 20px;
  border: none;
  @media (min-width: $tablet-widht)  {
    padding: 0 70px 71px;
  }
  @media (min-width: $desktop-width)  {
    max-width: 570px;
    width: 570px;
    margin: 0 80px 70px 110px;
    padding: 0;
  }
}

.personalise-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.personalise-item {
  display: flex;
  width: 280px;
  margin-bottom: 14px;
  &:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: $tablet-widht)  {
    width: 628px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @media (min-width: $desktop-width)  {
    max-width: 570px;
    width: 570px;
  }
}

.personalise-label {
  margin: auto 0;
  @media (min-width: $tablet-widht)  {
    font-size: 20px;
    line-height: 30px;
  }
}

.personalise-input {
  flex-grow: 1;
  @media (min-width: $tablet-widht)  {
    max-height: 52px;
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

























