.programs{
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}

.programs__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item{
  position: relative;
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
}

.programs__item::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;;
  left: 20px;
  background-color: $basic-green-bg;
}

.programs__subtitle{
  margin: 10px auto 30px 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description{
  position: relative;
  margin: 0;
  margin-bottom: 23px;
}

.programs__description::before{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -23px;
  border-top: 1px solid #D9D9D9;
}

.programs__link{
  display: inline-block;
  margin-top: 15px;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.programs__item:last-of-type{
  margin-bottom: 0;
}

//  Instrutions
.instructions{
  padding: 0 20px 50px 20px;
  font-size: 14px;
  line-height: 18px;
}

.instructions__title{
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.instructions__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instructions__item{
position: relative;
min-height: 60px;
margin-bottom: 20px;
}

.instructions__item:last-of-type{
  margin-bottom: 0;
}

.instructions__item::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: $basic-green-bg;
}

.instructions__description{
  margin: 0;
  margin-left: 80px;
  font-family: $secondary-font;
  color: $basic-grey-font;
}

// ! example!!!
.example{
  padding: 25px 20px 40px 20px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-grey-font;
}

// example-introduce
.example-introduce{
  padding-bottom: 20px;
}

.example-introduce__title{
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.example-introduce__description{
  font-family: $secondary-font;
}

.example-statistics{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.example-statistics__list{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.example-statistics__item{
  display: flex;
  flex-direction: column;
  min-width: 124px;
}

.example-statistics__content{
  padding: 15px 20px 18px 20px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  color: $basic-black;
}

.example-statistics__caption{
  min-width: 87;
  margin-top: -10px;
  padding: 0 14px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center; 
}

.example-statistics__footer{
  display: flex;
  line-height: 20px;
  text-align: center;
}

// address !!
.address{
  display: flex;
  padding: 26px 20px;
  color: #111111;
}

.address__street{
  font-family: $secondary-font;
  font-size: 14px;
  color: $basic-grey-font;
}

// footer !!
.footer{
  display: flex;
  flex-direction: column
  padding: 40px 20px;
  text-align: center;
}

.footer-logo{
  display: block;
  padding-bottom: 20px;
}

.footer-social__list{
  position: relative;
  display: flex;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.footer-social__list::before{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 42px;
  left: 0;
  border-top: 1px solid #D9D9D9;
}

.footer-social__list::after{
  content: "";
  position: absolute;
  width: 100%;
  top: 42px;
  left: 0;
  border-bottom: 1px solid #D9D9D9;
}

.footer-copyright{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: $secondary-font;
  font-size: 16px;
  text-decoration: none;
  color: #444444;
}

.footer-copyright__name{
  margin: auto 0;
}
















