.programs{
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}

.programs__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item{
  position: relative;
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
}

.programs__item::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;;
  left: 20px;
  background-color: $basic-green-bg;
}

.programs__subtitle{
  margin: 10px auto 30px 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description{
  position: relative;
  margin: 0;
  margin-bottom: 23px;
}

.programs__description::before{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -13px;
  border-top: 1px solid #D9D9D9;
}

.programs__link{
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}


.programs__item:last-of-type{
  margin-bottom: 0;
}


